@green: #a3c487;
.fuente(@size){
font-size: @size;
}

.card-compra {
  flex: 1 250px;
  background-color: @green }

.card-info {
  flex: 1; }

.icon-s {
  .fuente(10rem) }

.image-banner {
  width: 100%;
  height: 25rem !important;
  object-fit: cover; }

.icon-ss {
  .fuente(5rem) }

