.card-compra {
  flex: 1 250px;
  background-color: #a3c487;
}

.card-info {
  flex: 1;
}

.icon-s {
  font-size: 10rem !important;
}

.image-banner {
  width: 100%;
  height: 25rem !important;
  object-fit: cover;
}

.icon-ss {
  font-size: 5rem !important;
}