$green: #a3c487;

@mixin fuente ($size) {
	font-size: $size;
}

.card-compra {
	flex: 1 250px;
	background-color: $green;
}
.card-info
{
	flex: 1;
}
.icon-s {
	@include fuente (10rem!important)
}

.image-banner{
	width:100%;
	height:25rem!important;
	object-fit: cover;
}

.icon-ss{
	@include fuente (5rem!important)
}
